<template>
	<form @submit.prevent="submitForm('g')" data-vv-scope="g">
	<div class="row">
		<div class="form-group col-md-4">
			<label for="title">English Title</label>
			<input type="text" v-validate.initial="'required'" class="form-control" v-model="galleryData.title" name="title" />
			<small v-show="errors.has('g.title')" class="form-text text-danger">{{ errors.first('g.title') }}</small>
		</div>
		<div class="form-group col-md-4">
			<label for="">Japanese Title</label>
			<input type="text" class="form-control" v-model="galleryData.j_title" />
		</div>
		<div class="form-group col-md-4">
			<label for="">Alternative Title</label>
			<input type="text" class="form-control" v-model="galleryData.alt_title" />
		</div>
		<div class="form-group col-md-12">
			<label>Description</label>
			<textarea class="form-control" rows="5" v-model="galleryData.description"></textarea>
		</div>
		<div class="form-group col-md-6">
			<label>Language</label>
			<select class="form-control" v-model="galleryData.Language" v-validate.initial="'required'" name="language">
			  <option :value="null">-</option>
			  <option v-for="lang in language" v-bind:value="lang.id">{{ lang.title }}</option>
		  </select>
			<small v-show="errors.has('g.language')" class="form-text text-danger">{{ errors.first('g.language') }}</small>
		</div>
		<div class="form-group col-md-6">
			<label>Category</label>
			<select class="form-control" v-model="galleryData.Category" v-validate.initial="'required'" name="category">
			  <option :value="null">-</option>
			  <option v-for="ctg in category" v-bind:value="ctg.id">{{ ctg.title }}</option>
		  </select>
			<small v-show="errors.has('g.category')" class="form-text text-danger">{{ errors.first('g.category') }}</small>
		</div>
		<div class="form-group col-md-12">
			<label class="typo__label" for="ajax">Artist</label>
			<multiselect v-model="galleryData.tags.Artist" id="ajax" label="title" track-by="title" placeholder="Type to search" open-direction="bottom" :options="artists" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="true"
			    :close-on-select="false" :options-limit="10" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="artistAutoComplete">
				<template slot="clear" slot-scope="props">
				  <div class="multiselect__clear" v-if="galleryData.tags.Artist.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
			  </template>
				<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
			</multiselect>
		</div>
		<div class="form-group col-md-12">
			<label class="typo__label" for="ajax">Character</label>
			<multiselect v-model="galleryData.tags.Character" id="ajax" label="title" track-by="title" placeholder="Type to search" open-direction="bottom" :options="characters" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="true"
			    :close-on-select="false" :options-limit="10" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="characterAutoComplete">
				<template slot="clear" slot-scope="props">
				  <div class="multiselect__clear" v-if="galleryData.tags.Character.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
			  </template>
				<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
			</multiselect>
		</div>
		<div class="form-group col-md-12">
			<label class="typo__label" for="ajax">Contents</label>
			<multiselect v-model="galleryData.tags.Contents" id="ajax" label="title" track-by="title" placeholder="Type to search" open-direction="bottom" :options="contents" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="true"
			    :close-on-select="false" :options-limit="10" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="contentsAutoComplete">
				<template slot="clear" slot-scope="props">
				  <div class="multiselect__clear" v-if="galleryData.tags.Contents.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
			  </template>
				<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
			</multiselect>
		</div>
		<div class="form-group col-md-12">
			<label class="typo__label" for="ajax">Circle</label>
			<multiselect v-model="galleryData.tags.Circle" id="ajax" label="title" track-by="title" placeholder="Type to search" open-direction="bottom" :options="circle" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="true"
			    :close-on-select="false" :options-limit="10" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="circleAutoComplete">
				<template slot="clear" slot-scope="props">
				  <div class="multiselect__clear" v-if="galleryData.tags.Parody.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
			  </template>
				<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
			</multiselect>
		</div>
		<div class="form-group col-md-12">
			<label class="typo__label" for="ajax">Collection</label>
			<multiselect v-model="galleryData.tags.Collection" id="ajax" label="title" track-by="title" placeholder="Type to search" open-direction="bottom" :options="collection" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="true" :clear-on-select="true"
			    :allow-empty="true" :close-on-select="false" :max="1" :options-limit="100" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="collectionAutoComplete">
				<template slot="clear" slot-scope="props">
				  <div class="multiselect__clear" v-if="galleryData.tags.Collection.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
			  </template>
				<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
			</multiselect>
		</div>
		<div class="form-group col-md-12">
			<label class="typo__label" for="ajax">Parody</label>
			<multiselect v-model="galleryData.tags.Parody" id="ajax" label="title" track-by="title" placeholder="Type to search" open-direction="bottom" :options="parody" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="true"
			    :close-on-select="false" :options-limit="10" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="parodyAutoComplete">
				<template slot="clear" slot-scope="props">
				  <div class="multiselect__clear" v-if="galleryData.tags.Parody.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
			  </template>
				<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
			</multiselect>
		</div>
		<div class="form-group col-md-12">
			<button type="submit" class="btn btn-primary" :disabled="isDisabled">Save changes</button>
		</div>
	</div>
	</form>
</template>
<script>

import Multiselect from 'vue-multiselect'
import { ajaxFindTags } from '../../../tagSearch.js'
let Laravel = window.Laravel;

export default {
  name: "",
  props: ['gallery', 'tags', 'language', 'category', 'type'],
  components: {
	  Multiselect
  },
  data: () => ({
	  galleryData: {
	  	id: '',
	  	title : '',
	  	j_title: '',
	  	alt_title: '',
	  	description: '',
	  	tags : {
	  		Artist : [],
	  		Character : [],
	  		Contents: [],
	  		Circle: [],
	  		Collection: [],
	  		Parody: [],
	  	},
	  	Language: '',
	  	Category: '',
	  	source: '',
	  	fileName: '',
	},
	  artists: [],
	  characters: [],
	  contents: [],
	  circle: [],
	  collection: [],
	  parody: [],
	  isLogged: false,
	  isLoading: false,
	  isDisabled: false,
  }),
  mounted() {
	  // this.isLogged = Laravel.user || false;
	  let data = this.galleryData;
	  let gallery = this.gallery;
	  data.id = gallery.id;
	  data.title = gallery.title;
	  data.j_title = gallery.j_title;
	  data.alt_title = gallery.alt_title;
	  data.description = gallery.description;

	  let tags = this.tags;
	  for(var group in tags){
		  if(group == 'Artist'){
			  data.tags.Artist = this.sortTag(tags[group]);
		  }else if(group == 'Character'){
			  data.tags.Character = this.sortTag(tags[group]);
		  }else if(group == 'Contents'){
			  data.tags.Contents = this.sortTag(tags[group]);
		  }else if(group == 'Circle'){
			  data.tags.Circle = this.sortTag(tags[group]);
		  }else if(group == 'Collection'){
			  data.tags.Collection = this.sortTag(tags[group]);
		  }else if(group == 'Parody'){
			  data.tags.Parody = this.sortTag(tags[group]);
		  }else if(group == 'Language'){
			  data.Language = this.getTagID(tags[group]);
		  }else if(group == 'Category'){
			  data.Category = this.getTagID(tags[group]);
		  }
	  }
  },
  methods: {
	  artistAutoComplete: _.debounce(function(query) {
  		this.isLoading = true
  		ajaxFindTags(query, 'artist').then(response => {
  			this.artists = response.data
  			this.isLoading = false
  		})
  	}, 1000),
  	characterAutoComplete: _.debounce(function(query) {
  		this.isLoading = true
  		ajaxFindTags(query, 'character').then(response => {
  			this.characters = response.data
  			this.isLoading = false
  		})
  	}, 1000),

  	contentsAutoComplete: _.debounce(function(query) {
  		this.isLoading = true
  		ajaxFindTags(query, 'contents').then(response => {
  			this.contents = response.data
  			this.isLoading = false
  		})
  	}, 1000),

  	circleAutoComplete: _.debounce(function(query) {
  		this.isLoading = true
  		ajaxFindTags(query, 'circle').then(response => {
  			this.circle = response.data
  			this.isLoading = false
  		})
  	}, 1000),

  	collectionAutoComplete: _.debounce(function(query) {
  		this.isLoading = true
  		ajaxFindTags(query, 'collection').then(response => {
  			this.collection = response.data
  			this.isLoading = false
  		})
  	}, 1000),

  	parodyAutoComplete: _.debounce(function(query) {
  		this.isLoading = true
  		ajaxFindTags(query, 'parody').then(response => {
  			this.parody = response.data
  			this.isLoading = false
  		})
  	}, 1000),
	sortTag(tag) {
		let results = [];
		for (var i = 0; i < tag.length; i++) {
			results.push({
				id: tag[i].id,
				title: tag[i].title,
				status: tag[i].status
			});
		}
		return results;
	},

	getTagID(tag){
		return (typeof tag[0] === "object") && (tag[0] !== null) ? tag[0].id : null;
	},
	submitForm(scope){
		this.$validator.validateAll(scope).then(result => {
			if(result){
				this.isDisabled = true;
				axios.post('/admin/gallery/update', this.galleryData).then(response => {
					let resp = response.data;
					if(resp.status){
						this.$awn.success(resp.message);
						setTimeout((function(){
							this.$awn.warning('Redirecting...');
							window.location = '/admin/gallery';
						}.bind(this)), 1000)
					}else{
						this.isDisabled = false;
						this.$awn.alert(resp.message)
					}
				})
				return;
			}
			this.$awn.alert('Correct them errors!');
		})
	},
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" scoped></style>
