<template>
	<div id="">
		<nav class="navbar sticky-top navbar-light bg-light">
			<a class="navbar-brand" href="#">
				{{ gallery.title }}
			</a>
			<div class="my-2" v-show="viewMode">
				<form class="form-inline page-control">
					<div class="form-group">
						<a class="btn btn-primary btn-sm" href="javascript:void(0)" @click="prevPage(false)" role="button"><</a>
					</div>
					<div class="form-group">
						<select v-model="currentPage" class="form-control" @change="displayImage">
							<option v-for="page in gallery.page.total_pages" v-bind:value="page">Page {{ page }}</option>
						</select>
					</div>
					<div class="form-group">
						<a class="btn btn-primary btn-sm" href="javascript:void(0)" @click="nextPage(false)" role="button">></a>
					</div>
				</form>
			</div>
			<div class="my-3">
				<form class="form-inline page-control">
					<div class="form-group">
						<a class="btn btn-primary btn-sm" href="javascript:void(0)" role="button" @click="toggleMode">{{ viewMode ? 'All Page' : 'By Page' }}</a>
					</div>
					<div class="form-group">
						<a class="btn btn-primary btn-sm" href="#" role="button">Like</a>
					</div>
					<!-- <router-link :to="{name: 'readGallery', params: {slug: gallery.slug, page: gallery.id}}" class="btn btn-xs btn-default">Edit</router-link> -->
				</form>
			</div>
		</nav>
		<hr class="my-4">
		<div class="card bg-light">
			<div class="card-body">
				<div v-if="viewMode">
					<img @click="nextPage(false)" :src="currentImage"/>
				</div>
				<div v-else>
					<img v-for="page in gallery.page.total_pages" :src=" imagePath + gallery.id + '/' +page+ '.jpg'" />
				</div>
			 </div>
		 </div>
	</div>
</template>
<script>
	export default {
		name: "",
		props: ['gallery'],
		data: () => ({
			imagePath: '/assets/images/gallery/',
			totalPreLoad: 5,
			currentPage: 1,
			currentImage: '',
			viewMode: true,
		}),
		watch : {
			'$route' (a,b) {
				console.log(a);
				if (a.params.page == 'all-page'){
					this.currentPage = 1;
				}else{
					this.currentPage = parseInt(a.params.page);
				}
				this.displayImage();
	        }
		},
		mounted() {
			if(this.gallery.page_number != "all-page" && this.gallery.page_number != 0){
				this.currentPage = parseInt(this.gallery.page_number);
			}else if(this.gallery.page_number == 0){
				this.currentPage = 1
			}else{
				this.viewMode = false;
				this.currentPage = 1;
			}
			this.updateTitle();
			this.loadImage();
			this.displayImage();
			window.addEventListener('keydown', this.nextPage)
			window.addEventListener('keydown', this.prevPage)
	  	},
		methods: {
			loadImage(e){
				for (var i = 1; i <= 5; i++) {
					var image = new Image();
					image.src = this.imagePath + this.gallery.id + '/' + i + '.jpg';

					image.onload = function(){
						console.log('loaded');
					}.bind(this)
				}
			},
			nextPage(e) {
			  if((!e || e.keyCode == 39 || e.keyCode == 68) && this.viewMode){
				  if(this.currentPage == this.gallery.page.total_pages){
					  // redirect to end
				  }else{
					  this.currentPage += 1;
					  this.displayImage();
				  }
			  }
			},
			prevPage(e){
			  if((!e || e.keyCode == 37 || e.keyCode == 65) && this.viewMode){
				  if(this.currentPage == 1){
					  this.displayImage();
				  }else{
					  this.currentPage -=1;
					  this.displayImage();
				  }
			  }
			},
			displayImage(){
				this.urlPushState();
				this.updateTitle();
				this.currentImage = this.imagePath + this.gallery.id + '/' + this.currentPage + '.jpg';
			},
			toggleMode(){
				this.viewMode = !this.viewMode;
				this.urlPushState();
				this.updateTitle('View All Page')
			},
			urlPushState(){
				window.scrollTo(0, 190);
				if(this.viewMode){
					this.$router.push({ name: 'readGallery', params: { slug: this.gallery.slug, page : this.currentPage }})
				}else{
					this.$router.push({ name: 'readGallery', params: { slug: this.gallery.slug, page : 'all-page' }})
				}
			},
			updateTitle(title){
				var e = document.title;
				if(/Page \d+/.test(e)){
					console.log('qwewq');
					e = e.replace(/Page \d+/, 'Page ' + this.currentPage);
				}else{
					e = 'Page ' + this.currentPage + ' | ' + e;
				}

				document.title =  e;
			}
		}
	}
</script>
<style lang="scss" scoped>
	.page-control .form-group{
		margin-right: 5px;
		margin-left: 5px;
	}
	.card.bg-light{
		border: none;
	}
	.card-body{
		overflow: hidden;
	}
	.card-body img{
		width: 100%;
	}
	.navbar{
		padding: 0px 10px;;
	}
</style>
