<template>
  <div id="">
	  <star-rating :star-size="20" :increment="0.5" text-class="rating-text" :rating="currentRating" @rating-selected ="setRating" :read-only="isRated"></star-rating>
  </div>
</template>
<script>
import StarRating from 'vue-star-rating'

export default {
	components: {
	  StarRating
  },
  props: ['currentRating','galleryid'],
  name: "",
  data: () => ({
	  isRated: false,
	  curRating: 0
  }),
  mounted() {
	  this.curRating = parseInt(this.currentRating);
},
  methods: {
    setRating(rating) {
		this.$nextTick(function(){
			this.curRating = 0;
			this.isRated = true;

		})
		alert(rating);
    }
  }
}
</script>
<style lang="scss" scoped>
</style>
