<template>
	<div>
	<div class="jumbotron padding">
		<div class="row">
			<div class="col-md-7">
				<input type="text" class="form-control" v-model="advanceSearch.string" @keyup.enter="advanceSearchFire"/>
			</div>
			<div class="col-md-5">
					<button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="sorting"><i class="fa fa-sort fa-fw"></i> Sort</button>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="sorting">
						<div class="dropdown-item">
							<input class="form-check-input" type="radio" id="default" value="1" v-model="advanceSearch.sort">
							<label class="form-check-label" for="default">Default</label>
						</div>
						<div class="dropdown-item">
							<input class="form-check-input" type="radio" id="recentlyadded" value="2" v-model="advanceSearch.sort">
							<label class="form-check-label" for="recentlyadded">Recently added</label>
						</div>
						<div class="dropdown-item">
							<input class="form-check-input" type="radio" id="nameaz" value="3" v-model="advanceSearch.sort">
							<label class="form-check-label" for="nameaz">Name A-Z</label>
						</div>
						<div class="dropdown-item">
							<input class="form-check-input" type="radio" id="viewed" value="4" v-model="advanceSearch.sort">
							<label class="form-check-label" for="viewed">Most viewed</label>
						</div>
					</div>
					<!-- <button type="button" class="btn btn-secondary"><i class="fa fa-line-chart fa-fw"></i></button> -->
					<span>
						<button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="tagsselected"><i class="fa fa-tags fa-fw"></i> Tags Include/Exclude</button>
						<div class="dropdown-menu dropdown-menu-right dropdown-width" aria-labelledby="tagsselected">
							<form class="px-1 py-1">
								<div class="form-group col-md-12">
									<label class="typo__label" for="ajax">Include Tags</label>
									<multiselect v-model="advanceSearch.tags.include" id="ajax" :options="tagsList" group-values="items" group-label="type" placeholder="Type to search"  label="title" track-by="title" open-direction="bottom" :multiple="true" :searchable="true" :loading="tagsInputLoading" :internal-search="false" :clear-on-select="true" :close-on-select="false" :options-limit="10" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="includeAutoComplete" @open="clearOptions">
										<template slot="clear" slot-scope="props">
											<div class="multiselect__clear" v-if="advanceSearch.tags.include.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
										</template>
										<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
									</multiselect>
								</div>
								<div class="form-group col-md-12">
									<label class="typo__label" for="ajax">Exclude Tags</label>
									<multiselect v-model="advanceSearch.tags.exclude" id="ajax" :options="tagsList" group-values="items" group-label="type" placeholder="Type to search"  label="title" track-by="title" open-direction="bottom" :multiple="true" :searchable="true" :loading="tagsInputLoading" :internal-search="false" :clear-on-select="true" :close-on-select="false" :options-limit="10" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="excludeAutoComplete" @open="clearOptions">
										<template slot="clear" slot-scope="props">
											<div class="multiselect__clear" v-if="advanceSearch.tags.exclude.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
										</template>
										<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
									</multiselect>
								</div>
							</form>
						</div>
					</span>
					<button type="button" class="btn btn-secondary" v-on:click="advanceSearchFire"><i class="fa fa-filter fa-fw"></i> Filter</button>
			</div>
		</div>
	</div>
	<div class="row" id="cards-padding">
		<div class="isLoading" v-if="isLoading">

		</div>
	  <div class="card gallery zero-padding text-dark" v-for="gallery in galleries.data" :class="getCardClass(gallery.id)">
		  <div class="ribbon" :class="getRibbonClass(gallery.id)" v-if="getCardClass(gallery.id)"><span>{{ getRibbonName(gallery.id) }}</span></div>
		  <a :href="getGalleryUrl(gallery.slug)">
			  <img class="card-img-top" :src="getCover(gallery.id)" alt="" @error="coverError">
			  <div class="title-main">{{ gallery.title }}<br/>{{ gallery.j_title }}</div>
		  </a>
		  <div class="card-footer">
			  <div class="meta-head">
				  <div class="head-content">
					  <div class="pull-right">
						  <span class="badge badge-text" v-for="(tag, index) in gallery.tags" v-if="tag.type == 7 && index == 1">{{ tag.title }}</span>
					  </div>
					  <span class="badge badge-pages">{{ gallery.page ? gallery.page.total_pages : '0' }} Pages</span>
				  </div>
			  </div>
			  <div class="meta-body">
				  <div class="title"><a :href="getGalleryUrl(gallery.slug)">{{ gallery.title }}<br/>{{ gallery.j_title }}</a></div>
				  <div class="rating">
					  <star-rating :star-size="20" :show-rating="false" :read-only="true" :rating="getRating(gallery.avg_rating)"></star-rating>
				  </div>
				  <div class="meta-data" v-if="gallery.tags.length">
					  <label>Contents:</label>
					  <ul>
						  <li v-for="tag in gallery.tags.slice(-4)" v-if="tag.type == 2">
							  <a :href="'tags/contents/v/'+tag.slug+'/all'">{{ tag.title }}</a>
						  </li>
					  </ul>
				  </div>
				  <div class="meta-data" v-if="gallery.description">
					  <label>Summary:</label>
					  <span>{{ gallery.description | truncate(50) }}</span>
				  </div>
			  </div>
		  </div>
	  </div>
  </div>
  <paginate :data="galleries" :limit="1" v-on:pagination-change-page="getResults"></paginate>
</div>
</template>
<script>

import Multiselect from 'vue-multiselect'

import paginate from 'laravel-vue-pagination';
import JSURL from 'jsurl';
import { ajaxSearchTags } from '../tagSearch.js';

import StarRating from 'vue-star-rating';

export default {
	name: "",
	components: {
	  paginate,
	  Multiselect,
	  StarRating
  },
	data: () => ({
		galleries: {},
		isLoading: true,
		tagsList: [],
		tagsInputLoading: false,
		configHover : {
			over : function(){
				var anim = $(this).children('.card-footer');
				var height = $(this).children('.card-footer').outerHeight(true);
				anim.stop(true).delay(0).animate({
					top: '-'+height+'px'
				}, 300)
			},
			out : function(){
				var anim = $(this).children('.card-footer');
				anim.stop(true).delay(0).animate({
					top: '0px'
				}, 300);
			},
		    timeout: 300,
		    sensitivity: 1,
		    interval: 100
		},
		advanceSearch : {
			string: '',
			sort: 1,
			tags : {
				include : [],
				exclude: []
			}
		},
		userCollections: [],
	}),
	mounted() {
		var check = JSURL.tryParse(window.location.hash.substr(1));
		if(window.location.hash != '' && Array.isArray(check)){
			this.advanceSearch = check;
		}
		this.getResults();
		$('.card.gallery').hoverIntent(this.configHover);
	},
	methods: {
		getCardClass(id){
			if(window.Laravel.user == null){
				return false;
			}
			let a = this.userCollections;
			if(a.hasOwnProperty(id)){
				let b = this.userCollections[id];
				for (var i = 0; i < b.length; i++) {
					if(b[i] == 2){
						return 'card-blacklisted';
					}else if(b[i] == 3){
						return 'card-favorite';
					}else if(b[i] == 4){
						return 'card-bookmark';
					}else if(b[i] == 1){
						return 'card-like';
					}
				}
			}else{
				return false;
			}
		},
		getRibbonClass(id){
			if(window.Laravel.user == null){
				return false;
			}
			let a = this.userCollections;
			if(a.hasOwnProperty(id)){
				let b = this.userCollections[id];
				for (var i = 0; i < b.length; i++) {
					if(b[i] == 2){
						return 'gray';
					}else if(b[i] == 3){
						return 'blue';
					}else if(b[i] == 4){
						return 'green';
					}else if(b[i] == 1){
						return 'red';
					}
				}
			}else{
				return false;
			}
		},
		getRibbonName(id){
			if(window.Laravel.user == null){
				return false;
			}
			let a = this.userCollections;
			if(a.hasOwnProperty(id)){
				let b = this.userCollections[id];
				for (var i = 0; i < b.length; i++) {
					if(b[i] == 2){
						return 'Blacklisted';
					}else if(b[i] == 3){
						return 'Favorite';
					}else if(b[i] == 4){
						return 'Bookmark';
					}else if(b[i] == 1){
						return 'Liked';
					}
				}
			}else{
				return false;
			}
		},
		clearOptions(){
			this.tagsList = [];
		},
		getResults : function(page) {
			if(typeof page == 'undefined'){
			  page = 1;
			}
			this.isLoading = true;
			window.scrollTo(0, 280);
			if(this.returnTagsSelected().length || this.advanceSearch.string || this.advanceSearch.sort != 1){
				console.log('');
				axios.post('/api/get/galleries/search', {
					p: page,
					search: this.advanceSearch
				}).then(response => {
					this.galleries = response.data;
					this.$nextTick(function () {
						if(window.Laravel.user != null){
							this.getUserCollection();
						}
						window.location.hash = "#" + JSURL.stringify(this.advanceSearch) + "#"
						$('.card.gallery').hoverIntent(this.configHover);
						this.isLoading = false;
					});
				});
			}else{
				axios.get('/api/get/galleries?page='+page).then(response => {
					this.galleries = response.data;
					this.$nextTick(function () {
						if(window.Laravel.user != null){
							this.getUserCollection();
						}
						window.location.hash = '';
						$('.card.gallery').hoverIntent(this.configHover);
						this.isLoading = false;
					});
				});
			}
		},
		advanceSearchFire(){
			this.getResults();
		},
		getGalleriesID(){
			var galleriesID = [];
			for (var i = 0; i < this.galleries.data.length; i++) {
				galleriesID.push(this.galleries.data[i].id);
			}
			return galleriesID;
		},
		getUserCollection(){
			this.userCollections = [];
			axios.post('/api/get/user/ribbon', {
				galleries: this.getGalleriesID()
			}).then(response => {
				this.userCollections = response.data;
			});

		},
		getRating(array){
			if(Array.isArray(array) && array.length != 0){
				return parseFloat(array[0].rating);
			}
			return parseInt(0);
		},
		getCover(id){
			return 'assets/images/gallery/' + id + '/cover.jpg';
		},
		coverError(e){
			let defaultURL = 'assets/images/gallery/no-cover.jpg';
			if (e.target.src !== defaultURL) {
				e.target.src = defaultURL;
			}
		},
		getGalleryUrl(slug){
			return 'gallery/'+slug;
		},
	  	includeAutoComplete: _.debounce(function(query) {
			this.tagsInputLoading = true;
			ajaxSearchTags(query, this.returnTagsSelected()).then(response => {
				console.log(response.data);
				this.tagsList = response.data
				this.tagsInputLoading = false
			})
		}, 1000),
		excludeAutoComplete: _.debounce(function(query) {
			this.tagsInputLoading = true;
			ajaxSearchTags(query, this.returnTagsSelected()).then(response => {
				console.log(response.data);
				this.tagsList = response.data
				this.tagsInputLoading = false
			})
		}, 1000),
		returnTagsSelected(){
			var exclude = this.filterResults(this.advanceSearch.tags.exclude);
			var include = this.filterResults(this.advanceSearch.tags.include);
			return exclude.concat(include);

		},
		filterResults(arr){
			var results = [];
			for (var i = 0; i < arr.length; i++) {
				results.push(arr[i].id);
			}
			return results;
		},
	}
}
</script>
<style lang="scss" scoped>
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
