<template>
	<div id="">
		<li class="nav-item dropdown dropdown-notification">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-bell"></i>
				<span class="badge badge-pill badge-danger">5</span>
			</a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
				<h6 class="dropdown-header">
					<span class="pull-right">
						Mark all as read
					</span>
					Notifications
				</h6>
				<div class="dropdown-divider top"></div>
				<ul class="dropdown-notifications-item">
					<NotificationItem></NotificationItem>
				</ul>
				<div class="dropdown-divider bottom"></div>
				<h6 class="dropdown-header text-center">See All</h6>
			</div>
		</li>
	</div>
</template>
<script>
import NotificationItem from './NotificationItem';

export default {
	name: "",
	props: ['userid'],
	components: {
		NotificationItem
	},
	data: () => ({

	})
}
</script>
<style lang="scss" scoped>

</style>
