<template>
	<li class="media">
	  <img src="/assets/images/notification-icon.png" alt="Generic placeholder image">
	  <div class="media-body">
		  <a href="#" class="notification-mark-read" title="Mark as read">
			  <i class="fa fa-times" aria-hidden="true"></i>
		  </a>
		  <div class="notification-title">Lorem Ipsum</div>
		  <div class="notification-desc">
			  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
		  </div>
		  <div class="notification-meta">
			  <small>just now</small>
		  </div>
	  </div>
	</li>
</template>
<script>
export default {
  name: "",
  data: () => ({

  })
}
</script>
<style lang="scss" scoped>
</style>
