<template>
	<div id="">

<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">Upload a Gallery!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>
<hr />
	<form class="row" @submit.prevent="submitFormValidate('g')" data-vv-scope="g">
		<div class="form-group col-md-4">
			<label for="title">Title</label>
			<input type="text" v-validate.initial="'required'" class="form-control" v-model="gallery.title" name="title" />
			<small v-show="errors.has('g.title')" class="form-text text-danger">{{ errors.first('g.title') }}</small>
		</div>
		<div class="form-group col-md-4">
			<label for="">Japanese Title</label>
			<input type="text" class="form-control" v-model="gallery.j_title"/>
		</div>
		<div class="form-group col-md-4">
			<label for="">Alternative Title</label>
			<input type="text" class="form-control" v-model="gallery.alt_title" />
		</div>
		<div class="form-group col-md-12">
			<label>Description</label>
			<textarea class="form-control" rows="5" v-model="gallery.description"></textarea>
		</div>
		<div class="form-group col-md-6">
			<label>Language</label>
			<select class="form-control" v-model="gallery.language" v-validate.initial="'required'" name="language">
				<option :value="null">-</option>
				<option v-for="lang in language" v-bind:value="lang.id">{{ lang.title }}</option>
			</select>
			<small v-show="errors.has('g.language')" class="form-text text-danger">{{ errors.first('g.language') }}</small>
		</div>
		<div class="form-group col-md-6">
			<label>Category</label>
			<select class="form-control" v-model="gallery.category" v-validate.initial="'required'" name="category">
				<option :value="null">-</option>
				<option v-for="ctg in category" v-bind:value="ctg.id">{{ ctg.title }}</option>
			</select>
			<small v-show="errors.has('g.category')" class="form-text text-danger">{{ errors.first('g.category') }}</small>
		</div>
		<div class="form-group col-md-12">
			<label class="typo__label" for="ajax">Artist</label>
			<multiselect v-model="gallery.tags.Artist" id="ajax" label="title" track-by="title" placeholder="Type to search" open-direction="bottom" :options="artists" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="true" :close-on-select="false" :options-limit="10" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="artistAutoComplete">
				<template slot="clear" slot-scope="props">
					<div class="multiselect__clear" v-if="gallery.tags.Artist.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
				</template>
				<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
			</multiselect>
		</div>
		<div class="form-group col-md-12">
			<label class="typo__label" for="ajax">Character</label>
			<multiselect v-model="gallery.tags.Character" id="ajax" label="title" track-by="title" placeholder="Type to search" open-direction="bottom" :options="characters" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="true" :close-on-select="false" :options-limit="10" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="characterAutoComplete">
				<template slot="clear" slot-scope="props">
					<div class="multiselect__clear" v-if="gallery.tags.Character.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
				</template>
				<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
			</multiselect>
		</div>
		<div class="form-group col-md-12">
			<label class="typo__label" for="ajax">Contents</label>
			<multiselect v-model="gallery.tags.Contents" id="ajax" label="title" track-by="title" placeholder="Type to search" open-direction="bottom" :options="contents" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="true" :close-on-select="false" :options-limit="10" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="contentsAutoComplete">
				<template slot="clear" slot-scope="props">
					<div class="multiselect__clear" v-if="gallery.tags.Contents.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
				</template>
				<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
			</multiselect>
		</div>
		<div class="form-group col-md-12">
			<label>Source</label>
			<input type="text" class="form-control" v-model="gallery.source" />
			<hr/>
		</div>
		<div class="form-group col-md-12">
			<dropzone ref="fileUploadZone" id="dropzone" :options="dropzoneOptions" v-on:vdropzone-max-files-exceeded="checkItemsExceed" v-on:vdropzone-success="checkUploadSuccess" v-on:vdropzone-file-added="hasFileAdded" v-on:vdropzone-removed-file="hasRemovedFile"></dropzone>
		</div>
		<div class="form-group col-md-12">
			<button type="submit" class="btn btn-primary" :disabled="!hasFile">Submit</button>
		</div>
	</form>

		<!-- {{ gallery }} -->

  </div>
</template>

<script>
import _ from 'lodash'
import Multiselect from 'vue-multiselect'
import Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.css'
import { ajaxFindTags } from '../tagSearch.js'

let tempFilename = '';


export default {
	name: "",
	props: ['category', 'language'],

  components: {
	  Dropzone,
	  Multiselect,
  },


  data() {
    return {
		dropzoneOptions: {
			url: '/upload/post',
			thumbnailWidth: 150,
			maxFilesize: 500,
			// uploadMultiple: true,
			chunking: true,
			chunkSize: 5242880,
			acceptedFiles: 'application/zip, application/x-zip-compressed, multipart/x-zip, application/x-compressed, .zip, .rar',
			maxFiles: 1,
			addRemoveLinks: true,
			autoProcessQueue: false,
			dictDefaultMessage: 'Drop / Select Files to Upload <br /> Accepted format : .zip / .rar',
			chunksUploaded: function(t, done){
				tempFilename = JSON.parse(t.xhr.response)
				done();
			}
		},
		selectedCountries: [],
		name:"",
		gallery: {
			title : '',
			j_title: '',
			alt_title: '',
			description: '',
			tags : {
				Artist : [],
				Character : [],
				Contents: []
			},
			source: '',
			fileName: ''
		},
		artists: [],
		characters: [],
		contents: [],
		hasFile: false,
		isLoading: false,
    }
  },


methods: {

	checkItemsExceed (file){
		this.$refs.fileUploadZone.removeFile(file);
		alert('You can upload 1 file only')
	},

	checkUploadSuccess (file, resp){
		var data = this.gallery;
		if(resp.hasOwnProperty('name')){
			data.fileName = resp.name;
		}else{
			data.fileName = tempFilename.name;
		}
		axios.post('/contributions/upload', {
			data
		}).then(response => {
			console.log(response);
		})
	},

	hasFileAdded(){
		this.hasFile = true;
	},

	hasRemovedFile(file, error, xhr){
		this.hasFile = false;
	},


	submitFormValidate(scope){
		this.$validator.validateAll(scope).then((result) => {
        if (result) {
			this.$refs.fileUploadZone.processQueue();
			return;
        }

        alert('Correct them errors!');
      });
	},


	artistAutoComplete: _.debounce(function(query) {
		this.isLoading = true
		ajaxFindTags(query, 'artist').then(response => {
			this.artists = response.data
			this.isLoading = false
		})
	}, 1000),

	characterAutoComplete: _.debounce(function(query) {
		this.isLoading = true
		ajaxFindTags(query, 'character').then(response => {
			this.characters = response.data
			this.isLoading = false
		})
	}, 1000),

	contentsAutoComplete: _.debounce(function(query) {
		this.isLoading = true
		ajaxFindTags(query, 'contents').then(response => {
			this.contents = response.data
			this.isLoading = false
		})
	}, 1000),

	// asyncFind(query){
	// 	this.isLoading = true
	// 	ajaxFindCountry(query).then(response => {
	// 		this.countries = response.data
	// 		this.isLoading = false
	// 		console.log(this.countries);
	// 	})
	// },

	clearAll () {
		this.selectedCountries = []
	},
  }
}
</script>


<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>
.dz-message{
	font-style: italic;
}
.example-simple label.btn {
  margin-bottom: 0;
  margin-right: 1rem;
}
.custom__tag {
    position: relative;
    display: inline-block;
    padding: 4px 26px 4px 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: #fff;
    line-height: 1;
    background: #41b883;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}
[dir=rtl] .multiselect__clear{
    right:auto;
    left:12px
}
.multiselect__clear{
    position:absolute;
    right:41px;
    height:40px;
    width:40px;
    display:block;
    cursor:pointer;
    z-index:2
}
.multiselect__clear:after,.multiselect__clear:before{
    content:"";
    display:block;
    position:absolute;
    width:3px;
    height:16px;
    background:#aaa;
    top:12px;
    right:4px
}
.multiselect__clear:before{
    transform:rotate(45deg)
}
.multiselect__clear:after{
    transform:rotate(-45deg)
}
  #customdropzone {
    background-color: orange;
    font-family: 'Arial', sans-serif;
    letter-spacing: 0.2px;
    color: #777;
    transition: background-color .2s linear;
    height: 200px;
    padding: 40px;
  }

  #customdropzone .dz-preview {
    width: 160px;
    display: inline-block
  }
 #customdropzone .dz-preview .dz-image {
    width: 80px;
    height: 80px;
    margin-left: 40px;
    margin-bottom: 10px;
  }
  #customdropzone .dz-preview .dz-image > div {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background-size: contain;
  }
  #customdropzone .dz-preview .dz-image > img {
    width: 100%;
  }

   #customdropzone .dz-preview .dz-details {
    color: white;
    transition: opacity .2s linear;
    text-align: center;
  }
  #customdropzone .dz-success-mark, .dz-error-mark, .dz-remove {
    display: none;
  }
</style>
