<template>
  <div id="">
	  <div class="alert alert-info" role="alert">
  		<h4 class="alert-heading">Add New Tag!</h4>
  		<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  		<hr>
  		<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
  	</div>
  	<hr />

  	<form class="row" @submit.prevent="submitForm('t')" data-vv-scope="t">
  		<div class="form-group col-md-6">
  			<label for="title">Title</label>
  			<input type="text" v-validate.initial="'required'" class="form-control" v-model="tag.title" name="title" />
  			<small v-show="errors.has('t.title')" class="form-text text-danger">{{ errors.first('t.title') }}</small>
  		</div>
  		<div class="form-group col-md-6">
  			<label for="title">Japanese Title</label>
  			<input type="text" class="form-control" v-model="tag.j_title"/>
  		</div>
  		<div class="form-group col-md-6">
  			<label for="title">Alternative Title</label>
  			<input type="text" class="form-control" v-model="tag.alt_title"/>
  		</div>
  		<div class="form-group col-md-6">
  			<label for="title">Cateogry</label>
  			<select v-validate.initial="'required'" class="form-control" v-model="tag.category" name="category">
  				<option>-</option>
				<option v-for="(ctg, key) in category" :value="key">
					{{ ctg }}
				</option>
  			</select>
  			<small v-show="errors.has('t.category')" class="form-text text-danger">{{ errors.first('t.category') }}</small>
  		</div>
  		<div class="form-group col-md-12">
  			<label for="title">Description</label>
  			<textarea class="form-control" v-model="tag.description"></textarea>
  		</div>
  		<div class="form-group col-md-12">
  			<button type="submit" class="btn btn-primary" :disabled="isLoading">Submit</button>
  		</div>
  	</form>
  </div>
</template>
<script>

function initTag(){
	return {
		title:'',
		j_title: '',
		alt_title: '',
		category: '',
		description: ''
	}
}

export default {
  name: "",
  props: ['category'],
  data: () => ({
	  tag: initTag(),
	  isLoading: false,
  }),
  methods: {
    submitForm(scope) {
		this.isLoading = true;
		this.$validator.validateAll(scope).then(result => {
			if(result){
				let post = this.tag;
				axios.post('/contributions/tag', {
					post
				}).then(response => {
					let res = response.data;

					if(res.status){
						this.tag = initTag()
						this.$awn.success(res.message);
					}else{
						this.$awn.alert(res.message);
					}
					this.$nextTick(function(){
						this.isLoading = false;
					})
				})
				return;
			}
			this.isLoading = false;
			this.$awn.alert('Correct them errors!')
		})
    }
  }
}
</script>
<style lang="scss" scoped>
</style>
