<template>
	<span>
		<label v-if="tags"> Also tags? <input type="checkbox" v-model="alsoTag"/></label></br/>
		<button class="btn btn-outline-success" v-on:click="moderateContribute(1)">Approved</button>
		<button class="btn btn-outline-success" v-on:click="moderateContribute(0)">Disapproved</button>
	</span>
</template>
<script>
export default {
	name: "",
	props: ['id', 'type', 'tags'],
	data: () => ({
	  config: {
		  url: ''
	  },
	  alsoTag: false
	}),
	mounted() {
		if(this.type == 1){
			this.config = {
				url: '/api/admin/moderateGalleryContribute'
			}
		}else if(this.type == 2){
			this.config = {
				url: '/api/admin/moderateTagContribute'
			}
		}else if(this.type == 3){
			this.config = {
				url : '/api/admin/moderateGalleryUpload'
			}
		}else if(this.type == 4){
			this.config = {
				url: '/api/admin/approvedTagContribute'
			}
		}
	},

  methods: {
    moderateContribute(type) {
		axios.post(this.config.url, {
			id: this.id,
			type: type,
			newTag: this.alsoTag
		}).then(response => {
			let resp = response.data;
			if(resp.status){
				this.$awn.success(resp.message);
				setTimeout(function(){
					location.reload();
				}, 1000);
			}else{
				this.$awn.alert(resp.message);
			}
		})
    }
  }
}
</script>
<style lang="scss" scoped>

</style>
