<template>
	<span>
		<button class="btn btn-outline-success" data-toggle="modal" data-target="#editGallery" data-backdrop="static">{{ type == 1 ? 'Request Edit' : 'Edit' }}</button>

		<div class="modal fade" id="editGallery" tabindex="-1" role="dialog">
  	  		<div class="modal-dialog modal-lg" role="document">
  	  			<div class="modal-content">
  	  				<div class="modal-header">
  	  					<h5 class="modal-title">Edit {{ tag.j_title ? tag.title + ' / ' + tag.j_title : tag.title }}</h5>
					</div>
					<form @submit.prevent="submitForm('t')" data-vv-scope="t">
						<div class="modal-body text-left">
							<div class="row">
								<div class="form-group col-md-12">
									<label for="">English</label>
									<input type="text" class="form-control" v-validate.initial="'required'" v-model="tagData.title"/>
								</div>
								<div class="form-group col-md-6">
									<label for="">Japanese</label>
									<input type="text" class="form-control" v-model="tagData.j_title"/>
								</div>
								<div class="form-group col-md-6">
									<label for="">Alternative Title</label>
									<input type="text" class="form-control" v-model="tagData.alt_title"/>
								</div>
								<div class="form-group col-md-12">
									<label for="">Description</label>
									<textarea class="form-control" rows="5" v-model="tagData.description"></textarea>
								</div>
							</div>
						</div>
						<div class="modal-footer">
	  		  				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
	  		  				<button type="submit" class="btn btn-primary">{{ type == 1 ? 'Request Edit' : 'Save changes'}}</button>
	  		  			</div>
					</form>
				</div>
			</div>
		</div>
	</span>
</template>
<script>
export default {
	name: "",
	props: ['tag', 'type'],
	data: () => ({
		tagData : {
			id: '',
			title: '',
			j_title: '',
			alt_title: '',
			description: '',
		},
		config : {
			url: ''
		}
	}),
	mounted() {
		this.tagData = {
			id: this.tag.id,
			title: this.tag.title,
			j_title: this.tag.j_title,
			alt_title: this.tag.alt_title,
			description: this.tag.description
		}
		if(this.type == 1){
			this.config.url = '/api/user/requestTagEdit';
		}else if(this.type == 2){
			this.config.url = '/api/user/updateRequestTagEdit';
		}
	},
	methods: {
	  submitForm(scope) {
		  this.$validator.validateAll(scope).then(result => {
			  if(result){
				  axios.post(this.config.url, this.tagData).then(response => {
					  let resp = response.data;
					  if(resp.status){
						  this.$awn.success(resp.message);
						  if(this.type != 1){
							  setTimeout((function(){
								  this.$awn.warning('Reloading...');
								  location.reload();
							  }.bind(this)),1000)
						  }
					  }else{
						  this.$awn.alert(resp.message);
					  }
				  })
				  return;
			  }
			  this.$awn.alert('Correct them errors!');
		  })
	  }
	}
}
</script>
<style lang="scss" scoped></style>
