@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	/*background: #1e1e1e;*/
	font-family: 'Roboto', sans-serif;
}
.navbar{
	margin-bottom: 30px;
}
.navbar-nopadding{
	margin-bottom: 0px;
}
.navbar-user{
	padding: 10px 10px;
}
.zero-padding{
	padding: 0px !important;
}
.zero-margin{
	margin: 0px !important;
}
.btn{
	margin-bottom: 10px;
}
.gallery-cover{
	padding-bottom: 20px;
}
.normalize-padding{
	padding: 30px;
}
#cards-padding{
	position: relative;
    overflow: hidden;
    padding-top: 10px;
    margin-bottom: 10px;
}
#cards-padding .isLoading{
	background: rgba(255, 255, 255, 0.9);
	height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}
#cards-padding > .card{
	margin-left: 10px;
	margin-bottom: 10px;
    max-height: 319px;
	overflow: hidden;
	width: 228px;
	z-index: 10;
}
#cards-padding > .card .card-img-top{
    min-height: 315px;
}
#cards-padding > .card .title-main{
	position: absolute;
	z-index: 200;
	bottom: 0;
	padding: 10px;
	text-align: center;
	font-size: 16px;
	width: 100%;
	color: #fff;
}
#cards-padding > .card:after {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 50px;
    height: 80px;
    content: "";
    background-color: rgba(255,255,255,0);
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(black));
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,0),#000);
    background-image: -moz-linear-gradient(top,rgba(255,255,255,0),#000);
    background-image: -ms-linear-gradient(top,rgba(255,255,255,0),#000);
    background-image: -o-linear-gradient(top,rgba(255,255,255,0),#000);
    background-image: linear-gradient(top,rgba(255,255,255,0),#000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(255, 255, 255, 0)', endColorStr='black');
}
#cards-padding > .card .card-footer{
	z-index: 1000;
	position: relative;
	padding: 0px;
}
#cards-padding > .card .card-footer > .meta-head{
	padding: 5px 10px;
    background: rgba(23, 26, 29, 0.88);
}
#cards-padding > .card .card-footer > .meta-head > .pull-right .pull-left{
	margin-top: -3px;
}
#cards-padding > .card .card-footer > .meta-body{
	color: #fff;
	padding: 6px;
    background: rgb(23, 26, 29);
}
#cards-padding > .card .card-footer > .meta-body .title{
	text-align: center;
	font-size: 17px;
	padding-bottom: 5px;
}
#cards-padding > .card .card-footer > .meta-body .title a{
	 color: #fff;
}
#cards-padding > .card .card-footer > .meta-body .rating{
	margin-left: 27%;
}
#cards-padding > .card .card-footer > .meta-body .meta-data{
	font-size: 12px;
}
#cards-padding > .card .card-footer > .meta-body .meta-data label{
	font-weight: 100;
	color: #39b1ff;
	margin: 0px;
}
#cards-padding > .card .card-footer > .meta-body .meta-data ul{
	list-style: none;
	padding: 0px;
    display: inline;
}
#cards-padding > .card .card-footer > .meta-body .meta-data ul > li{
	display: inline-block;
}
#cards-padding > .card .card-footer > .meta-body .meta-data ul > li > a{
	color: #fff;
}
#cards-padding > .card .card-footer > .meta-body .meta-data ul > li:last-child:after{
	content: "";
}
#cards-padding > .card .card-footer > .meta-body .meta-data ul > li:after{
	content: ", ";
}
.badge-text{
	color: #fff;
	line-height: 17px;
    font-size: 12px;
}
.badge-pages{
	line-height: 17px;
	font-size: 12px;
	background: #ecf0f7;
    color: #171a1d;
    font-weight: bolder;
    border-radius: 2px;
}
.navbar-nav.navbar-main > .nav-item a{
	/*font-family: 'Luckiest Guy', cursive;*/
	font-family: 'Concert One', cursive;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 17px;
	letter-spacing: 1px;
	color: #f9f8fc;
}
.navbar-user .nav-item .badge {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    margin-right: 10px;
    border-radius: 50%;
}
.dropdown-width{
	min-width: 500px;
}
.dropdown-notification > .dropdown-menu{
	min-width: 500px;
}
.dropdown-notification .dropdown-divider.top{
	margin-bottom: 0px;
}
.dropdown-notification .dropdown-divider.bottom{
	margin-top: 0px;
}
.dropdown-notification .dropdown-notifications-item{
	padding-left: 0px !important;
}
.dropdown-notification .dropdown-notifications-item > .media{
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid #F9F8FC;
}
.dropdown-notification .dropdown-notifications-item > .media:hover{
	background: #f6f6f6;
}
.dropdown-notification .dropdown-notifications-item > .media:first-child{
	/* padding-top: 0px; */
}
.dropdown-notification .dropdown-notifications-item > .media:last-child{
	border-bottom: none;
}
.dropdown-notification .dropdown-notifications-item > .media img{
	width: 64px;
	margin-right: 10px;
}
.dropdown-notification .dropdown-notifications-item > .media .notification-title{
	font-size: 15px;
}
.dropdown-notification .dropdown-notifications-item > .media .notification-desc{
	font-size: 13px;
}
.dropdown-notification .dropdown-notifications-item > .media .notification-desc{
	color: #777777;
}
.dropdown-notification .dropdown-notifications-item > .media .notification-mark-read{
    float: right;
    color: #333;
    opacity: 0.4;
}
.dropdown-notification .dropdown-toggle::after {
	margin-left: 15px;
	border:none;
}
.table-gallery-info > tbody >tr > td{
	padding: 5px !important;
	border: none;
}
.table-gallery-info td:first-child{
	width: 100px;
	font-weight: bold;
}
.table-gallery-info.contribute td{
	font-size: 14px;
	color: #1a1a1a;
}
.table-gallery-info.contribute td:first-child{
	width: 120px !important;
}
.new-tag{
	color: #0035ff;
    font-style: italic;
}
.table-gallery-info td > ul{
	margin-bottom: 0px;
}
.table-gallery-info td > ul > li{
	display: inline;
}
.table-gallery-info td > ul > li:last-child:after{
	content: "";
}
.table-gallery-info td > ul > li:after{
	content: ", ";
}
.btn-strong {
	font-weight: bold;
}
.gallery-preview{
	text-align: center;
}
.gallery-preview > a > img{
	width: 165px;
	padding: 10px;
}
.list-inline{
	margin-bottom: 0px;
}
.list-inline-item.list-bullet::after{
	content: " • ";
}
.list-inline-item.list-bullet:last-child::after{
	content: "" !important;
}
.jumbotron.padding{
	padding: 20px;
}

.dropdown-hover:hover>.dropdown-menu {
  display: block;
}
.dropdown-menu{
	z-index: 1050;
}
.dropdown-hover .dropdown-menu > a.dropdown-item{
	color: #333 !important;
}
.dropdown-hover .dropdown-menu > a.dropdown-item:hover{
	color: #fff !important;
}
.dropdown-item{
    color: #1a1a1a !important;
}
.link-default{
	display: block;
	margin-top: 10px;
}
.form-check-input{
	margin-left: 0px;
	margin-right: 10px;
}
.form-check-label{
	font-size: 13px;
	margin-left: 20px;
}
a.disabled {
  color: gray;
  pointer-events: none;
}
.file-uploads {
  overflow: hidden;
  position: relative;
  text-align: center;
  display: inline-block;
}
.file-uploads.file-uploads-html4 input[type="file"] {
  opacity: 0;
  font-size: 20em;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.file-uploads.file-uploads-html5 input[type="file"] {
  overflow: hidden;
  position: fixed;
  width: 1px;
  height: 1px;
  z-index: -1;
  opacity: 0;
}
@media (min-width: 1200px){
	.container{
		max-width: 1200px !important;
	}
}
.rating-text {
	font-weight: bold;
	font-size: 15px;
	border: 1px solid #cfcfcf;
	padding-left: 10px;
	padding-right: 10px;
	color: #999;
	border-radius: 5px;
	background: #fff;
}
.vue-star-rating-rating-text{
	margin-top:0px !important;
	margin-left: 5px;
}

.ribbon {
   position: absolute;
   right: -11px;
	top: 0px;
   overflow: hidden;
   width: 83px;
	height: 83px;
   text-align: right;
   z-index: 10;
}
.ribbon span {
   font-size: 10px;
   color: #fff;
   text-transform: uppercase;
   text-align: center;
   font-weight: bold; line-height: 20px;
   transform: rotate(45deg);
   width: 120px; display: block;
   background: #79A70A;
   background: linear-gradient(#9BC90D 0%, #79A70A 100%);
   box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
   position: absolute;
   top: 19px; right: -21px;
}
.ribbon span::before {
   content: '';
   position: absolute;
   left: 0px; top: 100%;
   z-index: -1;
   border-left: 3px solid #79A70A;
   border-right: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #79A70A;
}
.ribbon span::after {
   content: '';
   position: absolute;
   right: 0%; top: 100%;
   z-index: -1;
   border-right: 3px solid #79A70A;
   border-left: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #79A70A;
}
.red span {background: linear-gradient(#F70505 0%, #8F0808 100%);}
.red span::before {border-left-color: #8F0808; border-top-color: #8F0808;}
.red span::after {border-right-color: #8F0808; border-top-color: #8F0808;}

.blue span {background: linear-gradient(#2989d8 0%, #1e5799 100%);}
.blue span::before {border-left-color: #1e5799; border-top-color: #1e5799;}
.blue span::after {border-right-color: #1e5799; border-top-color: #1e5799;}

.green span {background: linear-gradient(#9BC90D 0%, #79A70A 100%);}
.green span::before {border-left-color: #79A70A; border-top-color: #79A70A;}
.green span::after {border-right-color: #79A70A; border-top-color: #79A70A;}

.gray span {background: linear-gradient(#B6BAC9 0%, #808080 100%);}
.gray span::before {border-left-color: #808080; border-top-color: #808080;}
.gray span::after {border-right-color: #808080; border-top-color: #808080;}

.card-favorite{
	border: 3px solid #1e5799;
}

.card-bookmark{
	border: 3px solid #79A70A;
}

.card-like{
	border: 3px solid #8F0808;
}

.card-blacklisted{
	border: 3px solid #808080;
    background-size: cover;
    /* background: url(http://pururin.us/assets/images/blacklisted.png); */
    background: rgba(0, 0, 0, 0.5);
}
.card-blacklisted img{
	position: relative;
    opacity: 0.5;
}
.col-no-padding{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.roles{
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

.profile-title{
	padding:20px
}
.table th, .table td {
	padding: 0.75rem !important
}

.nav-item {
    margin-right: 1rem;
}


 .table-user tr:first-child > td {
	border-top: none;
}

	/* @media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {
	.col-md-2 {
	    flex: 0 0 18.8%;
	}
}
@media (min-width: 768px){
	.col-md-2 {
	    flex: 0 0 23%;
	}
}
.col-6 {
    max-width: 46%;
} */

@media (min-width: 320px) and (max-width: 480px) {
	#cards-padding > .card{
		width: 47.99%;
		margin-left: 5px;
	}
}
