<template>
	<span>
	  	<button v-on:click="collectionAction(1)" class="btn btn-strong" :class="[liked ? 'btn-outline-danger' : '', 'btn-outline-primary']" :disabled="isDisabled">Like</button>
	  	<button v-on:click="collectionAction(2)" class="btn btn-strong" :class="[ disliked ? 'btn-outline-warning' : '', 'btn-outline-primary']" :disabled="isDisabled">Blacklisted</button>
	</span>
</template>
<script>
export default {
  name: "",
  props: ['tag'],
  data(){
  	return {
	  liked: false,
	  disliked: false,
	  isDisabled: false,
  }
},
	mounted() {
    	if(window.Laravel.user){
			axios.post('/api/user/getUserTagCollection', {
				tag: this.tag.id
			}).then(response => {
				let res = response.data;
				if(res.type == 1){
					this.liked = true;
				}else if(res.type == 2){
					this.disliked = true;
				}
			})
		}
	},
  methods: {
    collectionAction(type) {
		this.isDisabled = true;
		axios.post('/api/user/userTagCollection', {
			type: type,
			tag: this.tag.id
		}).then(response => {
			if(response.data.status){
				if(type == 1){
					if(this.liked)
						this.liked = false;
					else
						this.liked = true;

					if(this.disliked)
						this.disliked = false;
				}else{
					if(this.disliked)
						this.disliked = false;
					else
						this.disliked = true;
					if(this.liked)
						this.liked = false;
				}
					this.isDisabled = false;

			}
		})
    },
  }
}
</script>
<style lang="scss" scoped>
</style>
