<template>
  <span>
	  <a href="#" class="btn btn-outline-primary btn-strong" data-toggle="modal" data-target="#editGallery" data-backdrop="static">Request Update</a>
	  <div class="modal fade" id="editGallery" tabindex="-1" role="dialog">
	  	<div class="modal-dialog modal-lg" role="document">
	  		<div class="modal-content">
	  			<div class="modal-header">
	  				<h5 class="modal-title" id="exampleModalLabel">Request Update for <i>{{ info.j_title ? info.title + ' / ' + info.j_title : info.title }}</i></h5>
	  			</div>
				<form @submit.prevent="submitFormValidate('g')" data-vv-scope="g">
	  				<div class="modal-body">
						<div class="row">
							<div class="form-group col-md-4">
								<label for="title">Title</label>
								<input type="text" v-validate.initial="'required'" class="form-control" v-model="gallery.title" name="title" />
								<small v-show="errors.has('g.title')" class="form-text text-danger">{{ errors.first('g.title') }}</small>
							</div>
							<div class="form-group col-md-4">
								<label for="">Japanese Title</label>
								<input type="text" class="form-control" v-model="gallery.j_title"/>
							</div>
							<div class="form-group col-md-4">
								<label for="">Alternative Title</label>
								<input type="text" class="form-control" v-model="gallery.alt_title" />
							</div>
							<div class="form-group col-md-12">
								<label>Description</label>
								<textarea class="form-control" rows="5" v-model="gallery.description"></textarea>
							</div>
							<div class="form-group col-md-6">
								<label>Language</label>
								<select class="form-control" v-model="gallery.language" v-validate.initial="'required'" name="language">
									<option :value="null">-</option>
									<option v-for="lang in language" v-bind:value="lang.id">{{ lang.title }}</option>
								</select>
								<small v-show="errors.has('g.language')" class="form-text text-danger">{{ errors.first('g.language') }}</small>
							</div>
							<div class="form-group col-md-6">
								<label>Category</label>
								<select class="form-control" v-model="gallery.category" v-validate.initial="'required'" name="category">
									<option :value="null">-</option>
									<option v-for="ctg in category" v-bind:value="ctg.id">{{ ctg.title }}</option>
								</select>
								<small v-show="errors.has('g.category')" class="form-text text-danger">{{ errors.first('g.category') }}</small>
							</div>
							<div class="form-group col-md-12">
								<label class="typo__label" for="ajax">Artist</label>
								<multiselect v-model="gallery.tags.Artist" id="ajax" label="title" track-by="title" placeholder="Type to search" open-direction="bottom" :options="artists" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="true" :close-on-select="false" :options-limit="10" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="artistAutoComplete">
									<template slot="clear" slot-scope="props">
										<div class="multiselect__clear" v-if="gallery.tags.Artist.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
									</template>
									<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
								</multiselect>
							</div>
							<div class="form-group col-md-12">
								<label class="typo__label" for="ajax">Character</label>
								<multiselect v-model="gallery.tags.Character" id="ajax" label="title" track-by="title" placeholder="Type to search" open-direction="bottom" :options="characters" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="true" :close-on-select="false" :options-limit="10" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="characterAutoComplete">
									<template slot="clear" slot-scope="props">
										<div class="multiselect__clear" v-if="gallery.tags.Character.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
									</template>
									<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
								</multiselect>
							</div>
							<div class="form-group col-md-12">
								<label class="typo__label" for="ajax">Contents</label>
								<multiselect v-model="gallery.tags.Contents" id="ajax" label="title" track-by="title" placeholder="Type to search" open-direction="bottom" :options="contents" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="true" :close-on-select="false" :options-limit="10" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="contentsAutoComplete">
									<template slot="clear" slot-scope="props">
										<div class="multiselect__clear" v-if="gallery.tags.Contents.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
									</template>
									<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
								</multiselect>
							</div>
							<div class="form-group col-md-12">
								<label class="typo__label" for="ajax">Circle</label>
								<multiselect v-model="gallery.tags.Circle" id="ajax" label="title" track-by="title" placeholder="Type to search" open-direction="bottom" :options="circle" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="true" :close-on-select="false" :options-limit="10" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="circleAutoComplete">
									<template slot="clear" slot-scope="props">
										<div class="multiselect__clear" v-if="gallery.tags.Parody.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
									</template>
									<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
								</multiselect>
							</div>
							<div class="form-group col-md-12">
								<label class="typo__label" for="ajax">Collection</label>
								<multiselect v-model="gallery.tags.Collection" id="ajax" label="title" track-by="title" placeholder="Type to search" open-direction="bottom" :options="collection" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="true" :clear-on-select="true" :allow-empty="true" :close-on-select="false" :max="1" :options-limit="100" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="collectionAutoComplete">
									<template slot="clear" slot-scope="props">
										<div class="multiselect__clear" v-if="gallery.tags.Collection.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
									</template>
									<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
								</multiselect>
							</div>
							<div class="form-group col-md-12">
								<label class="typo__label" for="ajax">Parody</label>
								<multiselect v-model="gallery.tags.Parody" id="ajax" label="title" track-by="title" placeholder="Type to search" open-direction="bottom" :options="parody" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="true" :close-on-select="false" :options-limit="10" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="parodyAutoComplete">
									<template slot="clear" slot-scope="props">
										<div class="multiselect__clear" v-if="gallery.tags.Parody.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
									</template>
									<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
								</multiselect>
							</div>
						</div>
		  			</div>
		  			<div class="modal-footer">
		  				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
		  				<button type="submit" class="btn btn-primary">Save changes</button>
		  			</div>
				</form>
	  		</div>
	  	</div>
	  </div>
  </span>
</template>
<script>
import _ from 'lodash'

import Multiselect from 'vue-multiselect'
import { ajaxFindTags } from '../../tagSearch.js'
let Laravel = window.Laravel;

export default {
  name: "",
  props: ['info', 'tags', 'category', 'language', 'newtag'],
  components: {
    Multiselect
},
  data: () => ({
	  gallery: {
		  id: '',
		  title : '',
		  j_title: '',
		  alt_title: '',
		  description: '',
		  tags : {
			  Artist : [],
			  Character : [],
			  Contents: [],
			  Circle: [],
			  Collection: [],
			  Parody: []
		  },
		  language: '',
		  category: '',
		  source: '',
		  fileName: '',
	  },
	  artists: [],
	  characters: [],
	  contents: [],
	  circle: [],
	  collection: [],
	  parody: [],
	  approved: {
		  newTag: false,
		  id: ''
	  },
	  newTags: false,
	  isLoading: false,
	  isLogged: false,
  }),
  mounted() {
	  this.isLogged = Laravel.user ? Laravel.user : false;
	  let group = this.tags;
	  let gal = this.info;
	  this.approved.id = gal.id;
	  this.gallery.id = gal.id;
	  this.gallery.title = gal.title;
	  this.gallery.j_title = gal.j_title;
	  this.gallery.alt_title = gal.alt_title;
	  this.gallery.description = gal.description;
	  for (var k in group){
		  if(k == 'Artist'){
			  for (var i = 0; i < group[k].length; i++) {
				  let artist = {
					  id: group[k][i].id,
					  title: group[k][i].title,
					  status: group[k][i].status
				  }
				  this.gallery.tags.Artist.push(artist);
				  if(group[k][i].status == 10){
					  this.newTags = true;
				  }
			  }
		  }else if(k == 'Character'){
			  for (var i = 0; i < group[k].length; i++) {
				  let character = {
					  id: group[k][i].id,
					  title: group[k][i].title,
					  status: group[k][i].status
				  }
				  this.gallery.tags.Character.push(character);
				  if(group[k][i].status == 10){
					  this.newTags = true;
				  }
			  }
		  }else if(k == 'Contents'){
			  for (var i = 0; i < group[k].length; i++) {
				  let contents = {
					  id: group[k][i].id,
					  title: group[k][i].title,
					  status: group[k][i].status
				  }
				  this.gallery.tags.Contents.push(contents);
				  if(group[k][i].status == 10){
					  this.newTags = true;
				  }
			  }
		  }else if(k == 'Circle'){
			  for (var i = 0; i < group[k].length; i++) {
				  let circle = {
					  id: group[k][i].id,
					  title: group[k][i].title,
					  status: group[k][i].status
				  }
				  this.gallery.tags.Circle.push(circle);
				  if(group[k][i].status == 10){
					  this.newTags = true;
				  }
			  }
		  }else if(k == 'Collection'){
			  for (var i = 0; i < group[k].length; i++) {
				  let collection = {
					  id: group[k][i].id,
					  title: group[k][i].title,
					  status: group[k][i].status
				  }
				  this.gallery.tags.Collection.push(collection);
				  if(group[k][i].status == 10){
					  this.newTags = true;
				  }
			  }
		  }else if(k == 'Parody'){
			  for (var i = 0; i < group[k].length; i++) {
				  let parody = {
					  id: group[k][i].id,
					  title: group[k][i].title,
					  status: group[k][i].status
				  }
				  this.gallery.tags.Parody.push(parody);
				  if(group[k][i].status == 10){
					  this.newTags = true;
				  }
			  }
		  }else if(k == 'Language'){
			  this.gallery.language = group[k][0].id
		  }else if(k == 'Category'){
			  this.gallery.category = group[k][0].id
		  }
	  }
  },
  methods: {
	  artistAutoComplete: _.debounce(function(query) {
  		this.isLoading = true
  		ajaxFindTags(query, 'artist').then(response => {
  			this.artists = response.data
  			this.isLoading = false
  		})
  	}, 1000),
  	characterAutoComplete: _.debounce(function(query) {
  		this.isLoading = true
  		ajaxFindTags(query, 'character').then(response => {
  			this.characters = response.data
  			this.isLoading = false
  		})
  	}, 1000),

  	contentsAutoComplete: _.debounce(function(query) {
  		this.isLoading = true
  		ajaxFindTags(query, 'contents').then(response => {
  			this.contents = response.data
  			this.isLoading = false
  		})
  	}, 1000),

	circleAutoComplete: _.debounce(function(query) {
  		this.isLoading = true
  		ajaxFindTags(query, 'circle').then(response => {
  			this.circle = response.data
  			this.isLoading = false
  		})
  	}, 1000),

	collectionAutoComplete: _.debounce(function(query) {
  		this.isLoading = true
  		ajaxFindTags(query, 'collection').then(response => {
  			this.collection = response.data
  			this.isLoading = false
  		})
  	}, 1000),

	parodyAutoComplete: _.debounce(function(query) {
  		this.isLoading = true
  		ajaxFindTags(query, 'parody').then(response => {
  			this.parody = response.data
  			this.isLoading = false
  		})
  	}, 1000),

	submitFormValidate: function(scope){
		this.$validator.validateAll(scope).then(result => {
			if(result){
				axios.post('/api/user/requestEditGallery', this.gallery).then(response => {
					let resp = response.data;
					if(resp.status){
						this.$awn.success(resp.message);
					}
					this.$awn.alert(resp.message);
				});
			}
			this.$awn.alert('Correct them errors!');
		})
	}
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" scoped>
</style>
