<template>
	<span>
		<button type="submit" v-on:click="galleryCollection(3)" class="btn btn-strong" :class="[ isFav ? 'btn-outline-success' : '', 'btn-outline-primary']" :disabled="isDisabled">Favorite</button>
		<button type="submit" v-on:click="galleryCollection(4)" class="btn btn-strong" :class="[ isBM ? 'btn-outline-warning' : '', 'btn-outline-primary']" :disabled="isDisabled">Bookmark</button>
	</span>
</template>
<script>
export default {
	name: "",
	props: ['gallery'],
	data: () => ({
		isFav: false,
		isBM: false,
		isDisabled: false,
	}),
	mounted() {
	  axios.post('/api/user/getUserGalleryCollection', {
		  gallery: this.gallery.id
	  }).then(response => {
		  let res = response.data;
		  for (var i = 0; i < res.length; i++) {
		  	if(res[i].type == 3){
				this.isFav = true;
			}else{
				this.isBM = true;
			}
		  }
	  })
	},
	methods: {
		galleryCollection(type) {
			this.isDisabled = true;
			axios.post('/api/user/userGalleryCollection', {
				gallery: this.gallery.id,
				type: type
			}).then(response => {
				let res = response.data;
				this.isDisabled = false;
				if(res.status){
					if(type == 3){
						this.isFav = !this.isFav;
					}else{
						this.isBM = !this.isBM;
					}
					this.$awn.success(res.message);
				}else{
					this.$awn.alert(res.message);
				}
			})
		}
	}
}
</script>
<style lang="scss" scoped>

</style>
