<template>
	<div>

	<div class="gallery-preview">
		<span>
		  <a v-for="page in parseInt(total)" :href="'/gallery/'+ gallery.slug +'/r/'+page">
			  <img :src="'/assets/images/gallery/'+ gallery.id +'/thumb/'+page+'_thumb.jpg'">
		  </a>
	  </span>
	  <br />
	</div>
	<div class="text-center thumb-control">
		<button v-on:click="loadMore" class="btn btn-sm btn-outline-primary btn-strong" id="load-more">Load more</button>
		<button v-on:click="viewMore" class="btn btn-sm btn-outline-primary btn-strong" id="view-more">View all</button>
		<button v-on:click="hide" class="btn btn-sm btn-outline-primary btn-strong" id="hide-more">Hide</button>
	</div>
</div>

</template>
<script>
export default {
	name: "",
	props: ['gallery', 'total'],
	data: () => ({
		preLoad: 14,
		perShow: 7
	}),
	mounted() {
		$(".gallery-preview a").slice(0, this.preLoad).show(0).css('display','inline-block'); // select the first ten
		$('#hide-more').hide();
		if($('.gallery-preview a').length <= this.preLoad){
			$('#load-more').hide();
			$('#view-more').hide();
		}
	},
	methods: {
		loadMore() {
			$(".gallery-preview a:hidden").slice(0, this.perShow).show(0).css('display','inline-block');
			this.$nextTick(function(){
				if($('.gallery-preview a:hidden').length == 0){
					$('#load-more').hide();
					$('#view-more').hide();
					$('#hide-more').show();
				}
			})
		},
		viewMore(){
			let totalHidden = $('.gallery-preview a:hidden').length;
			$(".gallery-preview a:hidden").slice(0, totalHidden).show(0).css('display','inline-block');
			this.$nextTick(function(){
				if($('.gallery-preview a:hidden').length == 0){
					$('#load-more').hide();
					$('#view-more').hide();
					$('#hide-more').show();
				}
			})
		},
		hide(){
			let total = -(this.total - this.preLoad);
			$(".gallery-preview a").slice(total).hide().css('display','hidden');
			this.$nextTick(function(){
				if($('.gallery-preview a:hidden').length != 0){
					$('#load-more').show();
					$('#view-more').show();
					$('#hide-more').hide();
				}
			})
		}
	}
}
</script>
<style lang="scss" scoped>
.gallery-preview span > a{
	padding-right: 10px;
	padding-bottom: 10px;
}
.gallery-preview a{
	display: none;
}
.thumb-control{
	margin-top: 20px;
}
</style>
